<div class="modal">
  <div class="overlay"></div>
  <div class="modal-content">
    <div class="modal-header">
      <div class="title">
        {{include.card.title}}
      </div>

      <div class="close"></div>
    </div>

    <div class="modal-body">
      <div class="description">
        {{include.card.description}}
      </div>

      <div class="details">
        <div>Date: {{include.card.date}}</div>
        <div>Client: {{include.card.client}}</div>
        <div>Role: {{include.card.role}}</div>
        <div>URL: {{include.card.url}}</div>
      </div>
    </div>
  </div>
</div>
