.header {
  padding: 2.5rem 2.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  .brand,
  .links {
    margin-bottom: 1rem;
  }

  .brand {
    font-size: 1.625rem;
    font-weight: bold;
    overflow: hidden;
    text-overflow: truncate;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
