*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
}

body {
  background-color: #333333;
  color: white;
  font-family: Helvetica;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: 120ms ease;

  &:hover {
    color: #cccccc;
  }
}

header {
  padding: 20px;

  h1 {
    font-size: 30px;
    margin: 0 0 30px;
    text-align: center;
  }

  h3 {
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 10px;
    text-align: center;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
}

article {
  align-items: flex-start;
  flex-basis: calc(50% - 10px);
  flex-grow: 1;
  margin: 5px;
  overflow: hidden;
  position: relative;
}

.rickspression {
  flex-basis: calc(25% - 10px);
  max-width: 450px;
  min-width: 350px;

  .buttons {
    background-color: rgba(0, 0, 0, .23);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    transition: 400ms ease-out;
    top: 0;
    z-index: +1;

    .share {
      align-items: center;
      display: flex;
      justify-content: center;
      left: -50%;
      position: absolute;
      top: 50%;
      transition: 200ms ease-out;
      transform: translate(-50%, -50%);

      a {
        display: block;
        height: 50px;
        margin: 0 10px;
        pointer-events: auto;
        width: 50px;

        img {
          width: 100%;
        }
      }
    }
  }

  &:hover {
    .buttons {
      opacity: 1;
      padding: 0 18%;

      .share {
        left: 50%;
      }
    }
  }
}

.details {
  align-items: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

  .made {
    font-size: 26px;
    margin: 0 0 50px;
    text-align: center;
    width: 100%;

    a {
      text-decoration: underline;
    }
  }

  .social {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -30px;

    .facebook {
      color: #3b5998;
    }

    .instagram {
      color: #e4405f;
    }

    .twitter {
      color: #1da1f2;
    }

    .pinterest {
      color: #bd081c;
    }

    svg {
      fill: currentColor;
    }

    a {
      height: 50px;
      display: block;
      margin: 0 30px 30px;
      transition: transform 300ms ease-out;
      width: 50px;

      &:hover {
        transform: scale(1.1);
      }

      img {
        width: 100%;
      }
    }
  }
}
