<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
  <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
  <div class="content">
    <div class="header">
      <a class="brand" href="/">Carmen Ma</a>
      <div class="links">
        <a target="_blank" href="https://www.behance.net/Carmenma">Behance</a>
        <a target="_blank" href="https://codepen.io/kupopo/">Codepen</a>
        <a target="_blank" href="https://dribbble.com/CarmenMa">Dribbble</a>
        <a target="_blank" href="mailto:carmen.ma73@gmail.com">Contact</a>
      </div>
    </div>
    {{content}}
  </div>
  <script src="/assets/js/app.js"></script>
</body>
</html>
